.navbar-brand-label {
    vertical-align: middle;
    font-family: Helvetica;
    font-size: large;
    font-weight: 700;
    margin-left: .5rem;
    margin-top: .3rem;
}

.is-circle {
    border-radius: 10rem;
    padding: 7px;
}

.is-transparent {
    background-color: transparent !important;
}

.has-default-cursor {
    cursor: default !important;
}

#userName, #userName:hover {
    color: #3273dc;
}